{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}
  Add Student
{% endblock page_title %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add Student</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" action="{% url 'accounts:add_student' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="card-body">

              <div class="form-group">
                {{ form|crispy }}
              </div>

            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->

      </div>
</div>
{% endblock main %}