{% extends 'base.html' %}

{% block main %}
<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Course Detail</h3>


              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">

                  <tbody>
                  <tr>
                        <td>Course Name</td>
                        <td>{{ course.course_name }}</td>
                    </tr>

                    <tr>
                        <td>Created</td>
                        <td>{{ course.created_at|date:'d-m-Y H:i' }}</td>
                    </tr>
                    <tr>
                        <td>Updated</td>
                        <td>{{ course.updated_at|date:'d-m-Y H:i' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock main %}