{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}
  Delete Course
{% endblock page_title %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Delete {{ course.course_name }}</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'courses:course_delete' pk=course.pk %}" method="POST">
                        {% csrf_token %}
                        <p>Are you sure to delete this {{ course.course_name }} ?</p>
                        <button type="submit" class="btn btn-block btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}