{% extends 'base.html' %}

{% block main %}
<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All Subject</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Course</th>
                        <th>Subject Name</th>
                        <th>Staff</th>
                        <th>Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for subject in subjects %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ subject.course }}</td>
                        <td>{{ subject.subject_name }}</td>
                        <td> {{ subject.staff }}</td>
                        <td><a href="{% url 'courses:subject_edit' pk=subject.pk %}" class="btn btn-block btn-primary">Edit</a></td>
                        <td><a href="{% url 'courses:subject_detail' pk=subject.pk %}" class="btn btn-block btn-info">View</a></td>
                        <td><a href="" class="btn btn-block btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock main %}